.container {
  width: 620px;
  background-color: var(--dark-700);
  color: var(--white);

  h2 {
    margin: 1rem 0;
  }

  span {
    font-size: 1.5rem;
  }

  section {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;

    strong {
      color: var(--green-400);
    }

    span {
      margin-top: .5rem;
      // se chegar a descrição no final do modal deve quebrar a linha
      word-break: break-all;
    }
  }

  button {
    margin-top: 1.5rem;
    background-color: rgba(0, 0, 0, 40%);
    border: 0;
    padding: .5rem;
    border-radius: .2rem;
    color: var(--green-400);
  }
}

@media screen and (max-width: 700px){
  .container {
    width: 430px;
  }
}

@media screen and (max-width: 550){
  .container {
    width: 330px;
  }
}