.container {
  max-width: 720px;
  margin: 4rem auto;
  padding: 0 2rem;

  display: flex;
  flex-direction: column;

  .containerHeader {
    display: flex;
    flex-direction: row;

    h1 {
      color: var(--white);
    }

    button {
      background: transparent;
      border: 0;
      margin-left: 1rem;
    }
  }

  article {
    display: flex;
    flex-direction: column;

    margin: 1rem 0;

    section {
      display: flex;
      flex-direction: row;
      background-color: var(--dark-900);
      margin-bottom: 1rem;
      align-items: center;
      border-radius: .2rem;

      button {
        border: 0;
        background: transparent;
        font-size: 1.2rem;
        color: var(--white);
        height: 60px;
        align-items: center;
        display: flex;

        .tags {
          width: 9px;
          background-color: var(--green-400);
          height: 60px;
          border-radius: .2rem 0 0 .2rem;
          margin-right: 1rem;
        }
      }
    }
  }
}