.button {
  max-width: 600px;
  background-color: var(--red-900);
  border: none;
  padding: .7rem 1.2rem;
  color: var(--white);
  border-radius: .2rem;
  transition: filter .2s;

  &[disabled] {
    cursor: not-allowed; /* not-allowed desabilita o cursor no btn*/
    svg {
      animation: animateBtn 2s infinite;
    }
  }

  &:hover {
    filter: brightness(1.5); /* brightness aumenta o brilho do texto */
  }
}

@keyframes animateBtn {
  from {
    transition: rotate(0deg)
  }
  to {
    transition: rotate(360deg)
  }
}